
  h1 {
    color: #000000;
  }
  h2 {
    color: #000000;
    margin-bottom: 0;
  }
  h3 {
    color: #333333;
    border-bottom: solid #333333 1px ;
    margin-bottom: 0;
  }
  ul {
      margin-top: 0;
      margin-bottom: 0;
  }
  
li{
    margin-top: 0;
    margin-bottom: 0;
}
  
  p {
    color: #444444;
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: #440000;
  }